# Exercise 1: Preparation
## 1. Download the dataset
## 2. Read in the dataset

In [66]:
import pandas as pd
Auto=pd.read_csv("Auto.csv")
Auto

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
394,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
395,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
396,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

## 3. In the horsepower column, some values are missing. These are encoded with ‘?’. Remove these rows from the dataset.

In [67]:
#remove the rows that contain ?
Auto=Auto[Auto['horsepower']!='?']
Auto['horsepower']

0      130
1      165
2      150
3      150
4      140
      ...
392     86
393     52
394     84
395     79
396     82
Name: horsepower, Length: 392, dtype: object

4. Create a new column ‘muscle’. This column should contain a 1 for all muscle cars (e.g. cars that have above average horsepower) and 0 for the rest. (HINT: To help you out I have calculated that the mean horsepower is 104.46. After creating the column you should end up with approximately 148 muscle cars and 244 others (assuming that you have already removed the rows with horsepower=’?’ above)).

In [68]:
#check the type of horsepower variable
type(Auto['horsepower'])

pandas.core.series.Series

In [69]:
#change it to decimals
Auto['horsepower']=Auto['horsepower'].astype(float)

/var/folders/sx/vwqvh81108b_mls63cm7cgcw0000gp/T/ipykernel_40414/3578787956.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Auto['horsepower']=Auto['horsepower'].astype(float)

In [70]:
#create muscle column with a value of 0
Auto['muscle']=0
Auto

/var/folders/sx/vwqvh81108b_mls63cm7cgcw0000gp/T/ipykernel_40414/791588006.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Auto['muscle']=0

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name,muscle
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,0
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320,0
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite,0
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst,0
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino,0
...,...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl,0
393,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup,0
394,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage,0
395,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger,0
396,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10,0

In [84]:
# set the muscle to 1 where the corresponding row of horsepower is larger than 104.46
Auto.loc[Auto['horsepower'] > 104.46, 'muscle'] = 1
Auto

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name,muscle
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,1
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320,1
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite,1
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst,1
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino,1
...,...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl,0
393,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup,0
394,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage,0
395,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger,0
396,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10,0

In [85]:
#check the number of rows with 1
Auto['muscle'].sum()

148

In [83]:
#check the number of rows with 0
len(Auto[Auto['muscle'] == 0])

244

## 5. Split the dataset into a training set and a test set, by randomly drawing 80% of the rows for the former and 20% of the rows for the latter.